/* Lobby.css */

.lobby-container {
    position: relative;
    background-image: url('../images/AppImage.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: black;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Adjust the alpha value to control the overlay darkness */
}


.lobby-container h1 {
    margin-bottom: 20px;
    font-weight: bold; /* Make the h1 title bold */
}

.lobby-container ul li a {
    font-weight: bold; /* Make the text inside <li> elements bold */
    color: black;
}